* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body{
    background-color: #bab5b5;
}
.navbar {
height: 80px;
  background-color: #2b2d2d;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-evenly;

}
.nav-logo {
  height: 50px;
  width: 100;
}
.logo{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg");
    background-size: cover;
    height: 50px;
    width: 165px;
    cursor: pointer;
}
.border{
    border: 1.5px solid transparent;
    width: fit-content;
}

.border:hover {
    border: 1px solid rgb(246, 241, 237);
}
.nav-add{
    margin-left: 50px;
    margin-bottom: 12px;
}
.search-input:hover{
    border: 3px solid rgb(160, 83, 20);
}

/** box-02 **/

.add-fisrt {
    color:#cccccc;
    font-size: 2em !important;
    margin-left: 10px;

}
.add-sec{
    font-size: 1em;
    margin-left: 5px;

}
.add-icon{
   display: flex;
   align-items: center;

}
.search-select{
    margin-left: 10px;
    height: 50px;
}
.nav-search {
    background-color: rgb(217, 118, 20);
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 650px;
    height: 50px;
    border-radius: 4px;
}
.search-input{
    margin: 10px;
    width: 620px;
    height: 50px;
    font-size: large;
}
.search-icon{
    cursor: pointer;
    padding-right: 20px;
}

/** box-03 **/
span{
    font-size: 1rem;

}
.nav-second{
    font-size: 0.8rem;
    font-weight: 700;
     text-decoration: underline;

}
.nav-singin{
    margin-left: 40px;
   
}
.nav-return{
    margin-left: 40px;
    
}
/** box-04 **/
.nav-cart{
   font-size: 0.8rem;
   font-size: bold;
    margin-left: 70px;
}
.nav-cart i{
    font-size: 1.5rem;
    margin: 7px;
}
.panel{
    display: flex;
    background-color: rgb(23, 23, 23);
    color: white;
}
.panel-ops{
    display: flex;
    margin-left: 20px;
    width: 82%;
}
.panel-ops p{
    margin: 10px;
}
.panel-all{
    padding-left: 10px;
    padding-top: 10px;
    height: 40px;
}
.deals{
    padding-top: 8px;
    font-size: 18px;
}

/*Hero Section*/
.hero-section {
    background-image: url("01.jpg");
    height: 350px;
    background-size: cover;

}
.hero-message{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: relative;
    top: 90%;

}

/* shopping section */
.shop-section{
    margin: 60px ;
    display: flex;
    justify-content: space-evenly;
    background-color: white;

}
.box{

   height: 350px;
   width: 20%;
   background-color: #e2e7e6;
}
.box-img{
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: 300px;
    background-image: url("https://m.media-amazon.com/images/I/51euDQ7gprL._SX569_.jpg");
    background-size: cover;
}
.box-img4{
    background-image: url("https://m.media-amazon.com/images/I/51aHb9VVMTL._SY879_.jpg");
    height: 300px;
    background-size: cover;
}
.box-img3{ 
    background-image: url("https://m.media-amazon.com/images/I/81e2+EBz7uL._SL1500_.jpg");
    height: 300px;
    background-size: cover;
}
.box-img2{
    background-image: url("https://m.https://m.media-amazon.com/images/I/31T-Yz3ADaL._SX300_SY300_QL70_FMwebp_.jpg")!important;
    height: 300px;
    background-size: cover;
}
.footer-bottom {
    height: 100px;
    text-align: center;
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-main{
    color: white;
    background-color: #2b2d2d;
    display: flex;
    justify-content: space-evenly;
    height: 150px;
    letter-spacing: 1px;
}